:root{
--cba1: rgba(0, 0, 0, .5); /* Background colour & transparency */
--round2: 15px /* Bubble roundness 0-30px */
}

.headerCozy-2N9HOL {position: relative;margin-left: 10px }
.headerCozy-2N9HOL .avatar-17mtNa {position: absolute;left: -90px;top: 0}
.headerCozy-2N9HOL .avatar-17mtNa:after {
	content: "";position: relative;float: left;left: 35px;top: -30px;width: 0;height: 0;
    border: 10px solid transparent;border-right: 15px solid var(--cba1)}
.containerCozy-jafyvG {overflow: visible;padding: 10px 0;margin: 10px 5px 10px 80px;border-radius: var(--round2);background: var(--cba1)}
.contentCozy-3XX413 {margin-left: 10px}
.container-1YxwTf .inline {padding: 1px 5px}
