#bd-pub-li {position: relative ;left: 5px;top:0px;background:rgba(0, 0, 0, 0.4)}
.guildsWrapper-5TJh6A {width:calc(30px + var(--size))}
.guildsWrapper-5TJh6A .scrollerWrap-1IAIlv {width:calc(30px + var(--size))}
.guildsWrapper-5TJh6A .guildSeparator-1X4GQ1:after,.guildsWrapper-5TJh6A ::-webkit-scrollbar{display:none}
.guildsWrapper-5TJh6A .guilds-error{width:var(--size);height:var(--size);line-height: 32px}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ {width:var(--size);height:var(--size);left:4px}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guildIcon-CT-ZDq,.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4 a {width:var(--size);height:var(--size)}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.selected-ML3OIq:before,.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ.unread-qLkInr:before {left: -20px}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4,.noIcon-1a_FrS.iconSizeLarge-161qtT {line-height: 40px}
.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM {position: relative;margin: 0;left:calc(-40px + var(--size))}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4, .guildsWrapper-5TJh6A .guilds-1q_RqH .guildIcon-CT-ZDq,.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .badge-1GsMF2,.guildsError-3cFMtY {border-radius: var(--round)!important}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .avatar-small,.guildsError-3cFMtY {background-repeat: no-repeat;background-size: var(--size) var(--size);height: var(--size);width: var(--size)}
.unreadMentionsIndicatorBottom-BXS58x, .unreadMentionsIndicatorTop-gA6RCh {padding: 10px}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .guildInner-3DSoA4{background: transparent}
.guildsWrapper-5TJh6A .guilds-1q_RqH .friends-icon {height:var(--size);width: var(--size)}
.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ .badge-1GsMF2 {bottom: -6px;right: -6px;padding:2px 5px}
.guildsAddInner-1KMFy- {top: -4px}
.guildsError-3cFMtY{line-height:30px}
